h4{
    color: white;
    float: inline-start;
    font-size: 1.5rem;
}
.nav-item a{
    justify-content: end;
    float: right;
}
a{
    font-weight: bold;
    color: #fff;
}
router-outlet{
height: 100vh;
width: 100vw;
}
footer{
    top: 100vh;
    position: sticky;
    text-align: center;
    background-color: black;
    width: 100%;
    height: 75px;
}
footer p{
    color: white;
    padding-top: 2%;
}